.wp-block-pbrocks-amp-block-amp-info {
	border: 2px solid #888888;
	padding:  1rem 4rem;
	background: rgba(41, 200, 170, .2 );
}
 
.entry-content > .wp-block-pbrocks-amp-block-amp-info > h3 {
    margin: 3rem 0;
}

.wp-block-pbrocks-amp-block-amp-info > h3.pbrx-negative {
	color: salmon;
}